@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiko&display=swap');


.box-area{
    width: 1024px;
}

.imagem-teste {
    background-image: url(../../../assets/unsplash-1-christin-hume-Hcfwew744z4.jpg);
    background-blend-mode: overlay;
}

@media (max-width: 991px) {
    .navbar-brand {
      position: relative;
      padding-right: 15px;
    }
  }

#v-compras {
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    color: #0049B6;
}

#v-email-senha {
    font-family: 'Abel';
    font-style: normal;
    font-size: 16px;
    color: #A0AEC0;
}

.form-email-senha {
    font-family: 'Abel';
    font-style: normal;
    font-size: 16px;
    color: #A0AEC0;
}
.checkbox-font {
    font-family: 'Abel';
    font-style: normal;
    font-size: 16px;
}

.form-fonts {
    font-family: 'Abel';
}

#text-goshop {
    font-family: 'Amiko';
    font-size: 48px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

