@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiko&display=swap');


.teste-img {
    background: url(../../../assets/dylan-gillis-KdeqA3aTnBY-unsplash-1.jpg);
    background-blend-mode: overlay;
}

#v-compras {
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #2D3748;
}

#v-email-senha {
    font-family: 'Abel';
    font-style: normal;
    font-size: 16px;
    color: #A0AEC0;
}

.form-email-senha {
    font-family: 'Abel';
    font-style: normal;
    font-size: 16px;
    color: #A0AEC0;
}

.form-fonts {
    font-family: 'Abel';
}

.itens-font {
    font-family: 'Abel';
    color: white;
}

.itens-font2 {
    font-family: 'Abel';
    color: white;
    font-size: 20px;
}

