@import url('https://fonts.googleapis.com/css2?family=Amiko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

.navbar {
    z-index: 1;
}

#logo-goshop {
    width: 29.325px;
    height: 30px;
}

#t-logo {
    font-family: 'Amiko', sans-serif;
    font-size: 24px;
    color: white;
}


.itens-font {
    font-family: 'Abel';
    color: white;
}